.footer {
    width: 100%;
    background: -webkit-linear-gradient(#000e0c,rgb(5, 72, 69),rgb(2, 14, 8));
    color: rgb(57, 246, 236);
    padding: 3rem 1rem;
}


.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer li {
    padding: 1rem;
}

.footer li a {
    color: #fff;
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.bottom {
    text-align: center;
    padding-top: 3rem;
}

.line {
    margin-bottom: 1rem;
}

.web{
    color: rgba(247, 247, 255, 0.774);
    padding:1rem;
    margin: 1.3rem;
    background-color:hsla(169, 77%, 73%, 0.379) ;
    border-radius:0.5em;
    
}
.web:hover  {
    background: var(--primary);
    border: 2px solid #42fadf;
    
  

 }



    



