
.hem {
    width: 100%;
    background: url('./images/grren.jpg') no-repeat center center/cover;
    margin: auto;
    

}

.hem .container {
    padding: 7.5rem 0 0 0 ;
    background-color: rgba(255, 255, 255, 0.438);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.hem h2 {
    font-size: 2rem;
    font-weight:400;
}
.hem .img {
    display: flex;
    justify-content:center;
}
.hem .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 500;

}



.hem button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    
    
        .hem {
            height: 100%;
            max-width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: table;
             padding: 5rem 0 0 0 ;

         
        

    }

    .hem .container {
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0  ;

       
    }
    .hem .container p {
        font: size 0.5rem;
        font-weight: 500;
        font-style: italic;
   }

    .hem .container  {
        padding: 0rem;
        width: 100vh;
    }
   
    .hem .container .col-2 {
        padding: 0;
    }

    .hem button {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:1024px) {
   
.hem {
    width: 100%;
}

    .hem .container {
        grid-template-columns: 1fr;

        width: 100%;
        position: auto;
        left: -100%;
        top: 90px;
        flex-direction: column;
        width: 100%;
        transition: .3s;
        margin-top:0.6rem;
        
    }

    .hem .container p {
        font-size:1.5rem;
        font-weight: 500;
        font-style: italic;
   }

    .hem .container img {
        padding: 0rem;
        width: 90vw;
    }

    .hem .container .col-2 {
        padding: 0;
    }

    .hem button {
        margin-bottom: 1rem;
    }
}
 

 