
.priser {
    margin:  auto;
    width: 100%;
    margin: 0 0 0 0;
    background: url('./images/grren.jpg') no-repeat center center/cover;



}

.priser .container {
    background-color: rgba(255, 255, 255, 0.438);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.priser h2 {
    font-size: 3rem;
}
.priser .img {
    display: flex;
}
.priser .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;

}






@media screen and (max-width:940px) {
   
    .priser {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: table;
         }

    .priser .container {
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
         }
    .priser .container img {
        padding: 0rem;
        width: 90vw;
        
    }

    .priser .container .col-2 {
        padding: 0;
    }

 
}

@media screen and (max-width:1024px) {
   
.priser {
    width: 100%;
}

    .priser .container {
        grid-template-columns: 1fr;

        
    }

    .priser .container {
        width: 100%;
        
    }

    .priser .container img {
        padding: 0rem;
        width: 90vw;
    }

    .priser .container .col-2 {
        padding: 0;
    }

    
}


#index1, #index2 {
    width: 300px;
    background: rgba(11, 40, 40, 0.219);
    margin-top:0.5rem;
    padding:1rem;
}

.left-side {
    color: rgb(1, 17, 15);
    font-weight: italic;
    font-size: 1.6rem;
    font-weight: 600;
}

.right-side {
    float: right;
    
}
.priser .Container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.priser h2 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;


}

.priser .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    


}

/*
.priser .col-2 p:first-of-type {
    margin: 2rem 0;
}*/

.priser .col-2  {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
    margin: 0 0 0 0;
}
